---
layout: default
---
  <section class="wrapper{% if page.options contains 'minihead' %} minihead{% endif %} style5">
    <div class="inner{% if page.options contains 'fullwidth' %} fullwidth{% endif %}">{%
      unless site.navlinks == 'none'
%}{%    if page.categories contains 'works'
%}{%      assign idxperma = '/works/'
%}{%      assign idxtitle = 'Works Index'
%}{%      assign idxbutton = 'Index'
%}{%      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%    endif
%}{%    if page.categories.first == 'topics' and page.categories.last != 'topics'
%}{%      assign idxperma = page.categories | join: '/' | prepend: '/' | append: '/'
%}{%      assign idxtitle = 'Start page'
%}{%      assign idxbutton = 'Start'
%}{%      assign sorted_list = site.empty_array
%}{%      for topic in site.categories.topics
%}{%        if topic.categories.last == page.categories.last
%}{%          assign sorted_list = sorted_list | push: topic
%}{%        endif
%}{%      endfor
%}{%      assign sorted_list = sorted_list | sort: 'date'
%}{%    endif
%}{%  endunless
%}{%  if sorted_list and (site.navlinks == 'top' or site.navlinks == 'both')
%}{%    include fn_sortednav.html posclass='btntop'
%}{%  endif
%}{%  unless page.options contains 'minihead' %}
      <span id="post-date">{{ page.date  | date: "%-d %B %Y" }}</span><hr
        style="margin-top:3px;" />{%
      endunless
%}{%  if page.categories contains 'works' and page.tags %}
      <h4>Skills</h4>
  {%    assign work = page
%}{%    include techlist.html %}
  {%  endif
%}

  {{ content }}

  <b>转载请注明：</b>
  <br>作者：zhengjiachao 
  <br>URL : http://www.zhengjiachao.com{{page.url}}

  <div id="disqus_thread"></div>
  <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */
      
      var disqus_config = function () {
          this.page.url = 'http://www.zhengjiachao.com'{{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = {{page.url}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          
          s.src = '//cleverchao.disqus.com/embed.js';
          
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>

  {%


      if sorted_list and (site.navlinks == 'bottom' or site.navlinks == 'both')
%}{%    unless perma
%}{%      assign perma = '/topics/'
%}{%    endunless
%}{%    include fn_sortednav.html posclass='btnbottom'
%}{%  endif
%}{%  unless page.author == 'none'
%}{%    include author-block.html %}
  {%  endunless
%}{%  if jekyll.environment == "production"
%}{%    unless page.options contains nocomment or page.categories contains 'works'
%}{%      include disqus.html %}
  {%    endunless
%}{%  endif
%}
    </div>
  </section>
